<section class="container criar-atividades ff-inter">
  <header class="header">
    <h2>Adicione uma <br>atividade nova:</h2>
  </header>
  <form>
    <label for="atividade">Atividade</label>
    <input
      type="textarea"
      class="input"
      id="atividade"
      name="atividade"
      placeholder="Digite uma atividade"
      [(ngModel)]="atividade.atividade"
    >
    <label for="classificacao">Classificação</label>
    <input
      type="text"
      class="input"
      id="classificacao"
      name="classificacao"
      placeholder="Digite a classificacao"
      [(ngModel)]="atividade.classificacao"
    >
    <label for="modelo">Selecione o modelo do card:</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input
            type="radio"
            id="modelo1"
            value="modelo1"
            name="modelo-card"
            [(ngModel)]="atividade.modelo"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo1.png" alt="Aspas azuis">
          <p class="conteudo">{{ atividade.atividade }}</p>
          <p class="autoria"><b>{{ atividade.classificacao }}</b></p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="modelo2">
          <input
            type="radio"
            id="modelo2"
            value="modelo2"
            name="modelo-card"
            [(ngModel)]="atividade.modelo"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="modelo modelo2 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo2.png" alt="Aspas azul claro">
          <p class="conteudo">{{ atividade.atividade }}</p>
          <p class="autoria"><b>{{ atividade.classificacao }}</b></p>
        </div>
      </div>

      <div class="radio-modelo">
        <label for="modelo3">
          <input
            type="radio"
            id="modelo3"
            value="modelo3"
            name="modelo-card"
            [(ngModel)]="atividade.modelo"
          >
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo3.png" alt="Aspas verdes">
          <p class="conteudo">{{ atividade.atividade }}</p>
          <p class="autoria"><b>{{ atividade.classificacao }}</b></p>
        </div>
      </div>
    </div>
    <div class="acoes">
      <button (click)="criarAtividade()" class="botao">Salvar</button>
      <button (click)="cancelar()" class="botao">Cancelar</button>
    </div>
  </form>
</section>
